body {
    font-family: Arial, sans-serif;
    background-color: #121826;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh; /* Make the body take the full viewport height */
    justify-content: flex-start; /* Align content to the top */
}

h1 {
    margin-top: 70px; /* Adjust the top margin to create space for the fixed navbar */
}

#filter_form {
    margin-top: 20px;
}

#filter {
    border: 2px solid #212936;
    border-radius: 15px;
    padding: 10px;
    background-color: #121826;
    color: #fff;
    font-size: 16px;
    width: 90%; /* Adjust the width as needed */

    font-family:Arial, FontAwesome
}

p {
    display: none; /* Initially hide the list of taraneem */
    text-align: left; /* Align the text to the left */
    margin-top: 20px;
    font-size: 18px;
}

a.filtered {
    color: #fff;
    text-decoration: none;
    margin:10px;
    background: url("http://kodyrabatowe.wp.pl/img/ico/search_gr.png") top left     no-repeat;
}

a.filtered:hover {
    text-decoration: underline;
}

.menu-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

.menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 10px;
    background: #2d3a5a; /* Darker background color */
    border: 2px solid #ffffff; /* Dark border */
    border-radius: 10px; /* Add border-radius for a rounded appearance */
    padding: 10px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu ul li a:hover {
    text-decoration: underline;
    color: #f4ca92; /* Change the hover color */
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

#logo {
    width: 350px; /* Adjust the width as needed to make the logo smaller */
    height: auto;
    margin-bottom: 0px; /* Add some margin below the logo */
}
#footer {
    margin-top: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2d3a5a; /* Darker background color */
    border: 2px solid #ffffff; /* Dark border */
    border-radius: 10px; /* Add border-radius for a rounded appearance */
}

footer {
    width: 100%;
    padding: 10px;
    height: 40px;
    margin-top: auto; /* Push the footer to the bottom */
    background-color: #2d3a5a;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}