body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #000000); /* Gradient background */
    font-family: "Arial", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 36px; /* Increase font size */
    line-height: 1.6; /* Increase line spacing */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#visibletext {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #ffffff00;
    margin: 50px;
    line-height: 2.8;
}

@media (max-width: 768px) {
    body {
        font-size: 24px; /* Smaller font size for mobile */
        line-height: 1.4; /* Smaller line spacing for mobile */
    }

    #visibletext {
        font-size: 28px; /* Smaller font size for mobile */
        margin: 20px; /* Reduced margin for mobile */
        line-height: 1.8; /* Smaller line spacing for mobile */
    }
}

#text {
    display: none;
}

/* Light filter style */
#filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Light filter color */
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageInfo {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
}